@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Outfit", sans-serif;
}

:root{
  --color-primary: #050C2E
  --color-primary-dull: #3A3F5C
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

